* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --background: #aaa;
}

#page-body {
  position: absolute;
  left: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  outline: 1px solid #666;
  width: 210mm;
  height: 297mm;
}

.report-area:not(.report-header) {
  background-color: var(--background);
}

.report-header {
  background-color: var(--background);
  width: 100%;
  margin-bottom: 2mm;
  height: 25mm;
}

.report-subheader {
  height: 50mm;
  width: 102mm;
  margin-left: 2mm;
}

.report-about {
  height: 50mm;
  width: 102mm;
  margin-left: 2mm;
}

.report-steps {
  width: 206mm;
  height: 100mm;
  margin: 2mm;
}

.report-expected {
  height: 114mm;
  width: 102mm;
  margin-left: 2mm;
  margin-bottom: 2mm;
}

.report-received {
  height: 114mm;
  width: 102mm;
  margin-left: 2mm;
  margin-bottom: 2mm;
}
